<h1>LISTADO DE PRODUCTOS</h1>

<form method="post">
    <label>Direccion de envío</label>
    <input type="text" name="direccion" />
    <button class="btn-secondary">
        Realizar pedido
    </button>
    <ul>
        <li>
            <input type="checkbox" name="producto" cite="form-control" value="Tesla 80000" />Tesla 80.000€
        </li>
        <li>
            <input type="checkbox" name="producto" cite="form-control" value="IPhone 1000" />IPhone XII 1.000€
        </li>
        <li>
            <input type="checkbox" name="producto" cite="form-control" value="Ferrari 160000" />Ferrari 160.000€
        </li>
         <li>
            <input type="checkbox" name="producto" cite="form-control" value="Lamborghini 260000" />Lamborghini 260.000€
        </li>
    </ul>
</form>