<h1>LISTADO DE PRODUCTOS</h1>

<form method="post">
    @Html.AntiForgeryToken()
    <label>Direccion de envío</label>
    <input type="text" name="direccion" />
    <button class="btn-secondary">
        Realizar pedido
    </button>
    <ul>
        <li>
            <input type="checkbox" name="producto" cite="form-control" value="Tesla 80000"  class="form-check"/>Tesla 80.000€
        </li>
        <li>
            <input type="checkbox" name="producto" cite="form-control" value="IPhone 1000" class="form-check" />IPhone XII 1.000€
        </li>
        <li>
            <input type="checkbox" name="producto" cite="form-control" value="Ferrari 160000" class="form-check"/>Ferrari 160.000€
        </li>
         <li>
            <input type="checkbox" name="producto" cite="form-control" value="Lamborghini 260000" class="form-check"/>Lamborghini 260.000€
        </li>
    </ul>
</form>