<h1 style="color:red">NO TIENES PERMISOS PARA ACCEDER</h1>

<h1 style="color:red">NO HA INICIADO SESION EN LA APP</h1>

<img src="https://preview.redd.it/robadisimo-v0-h4pt4kdy205a1.png?auto=webp&s=9e4649a2d591b9713893846ee92d103d4546c501" />
