<h1>LOGIN USER</h1>

<form method="post">
    <label>Usuario</label>
    <input type="text" name="usuario" />
    <label>Contraseña</label>
    <input type="text" name="password" />
    <button class="btn-primary">Loggin</button>
</form>

<h1 style="color:coral">@ViewData["MENSAJE"]</h1>
